DATABASE_URL=sqlite:///./sitemap_scanner.db
MAX_CONCURRENT_REQUESTS=5
REQUEST_DELAY_SECONDS=0.5
TITLE_SCAN_MAX_ROUNDS=3
MAX_SITEMAP_URLS=0
URL_TEST_MAX_CONCURRENT=3
URL_TEST_DELAY_SECONDS=0.3
URL_TEST_MAX_ROUNDS=3
URL_TEST_TIMEOUT_SECONDS=5
